* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

// mixin

@mixin marginPadding ($margin, $padding) {
    margin: $margin;
    padding: $padding;
}


// mapas

$navABorder: ( 
    border: 1px solid black,
);


$navABorderHover: (
    border: 2px solid black,
);

// extend

%extend bg-color {
    background-image: linear-gradient(#CCA77Aff, #e6b67e);
}




/* propiedades del padre */
.contenedor {
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    grid-template-areas: "header header"
        "main main"
        "footer footer";

}



header {
    grid-area: header;
    @extend bg-color;
    text-align: center;
    position: sticky;
    top: 0;
    nav {
        background-color: #F9E8D5ff;
        padding: 1.5rem;
    
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
    
            li {
                a {
                    text-decoration: none;
                    color: black;
                    border-bottom: map-get($map: $navAborder, $key:border );
                    padding: 0.5rem;
    
                    &:hover {
                        border-bottom: map-get($map: $navAbordeHoverr, $key:border);
                        font-weight: bold;
                    }
                }
            }
        }
    
    }
}





main {
    grid-area: main;
    background-color: beige;
    h1 {
        @include marginPadding(0.5, 0.5)
    }
    h2 {
        @include marginPadding(0.5, 0.5)
    }
    h3 {
        text-align: center;
        margin: 3rem;
        text-decoration: underline;
    }
    h5 {
        text-decoration: double;
    }
    .divHeader {
        display: flex;
        background-color: #CCA77Aff;
        flex-direction: column;
        text-align: center;
    
        .logoHonguito {
            width: 10%;
            padding: 0.5rem;
            text-align: center;
            align-self: center;
        }
    }
   .section1{
    display: flex;
    justify-content: space-evenly;
        .foto1 {
        width: 40%;
        } 
        .foto2 {
        width: 40%;
        }
    }
}

/*ceramicas*/

.contenedorProductos {
    text-align: center;
    margin-left: 18rem;
    margin-right: 18rem;
    padding: 1rem;
    .foto3 {
        width: 75%;
        padding: 1rem;
    
    }
    
    .foto4 {
        width: 75%;
        padding: 1rem;
    }
    
    .foto8 {
        width: 75%;
        padding: 1rem;
    }
    
    hr {
        margin-bottom: 1rem;
        margin-top: 1rem;
        border: 1px solid black;
    
    }
}

/*cuadritos*/

.foto6{
    width: 75%;
    padding: 1rem;
}

.foto7{
    width: 75%;
    padding: 1rem;
}


/* sobre mi*/


.mainSobreMi{
    margin: 3rem;
    .divSobreMi {
        display: flex;
    }
    .pSobreMi {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        p {
            padding: 2rem;
        }
        img {
            border-radius: 50px;
        }
        
        .foto9 {
            width: 40%;
            margin-right: 7rem;
        }
    }
}



/*contacto*/

.mainContacto {
    margin-left: 4rem;
    margin-right: 4rem;
    p {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

form{
    fieldset {
        border: none;    
    }
    div{
        label {
            padding: 2rem;
        }
    }
} 

/*footer */

footer {
    grid-area: footer;
    @extend bg-color;
    text-align: center;
    padding: 0.7rem;
    .divFooter {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem;
        padding: 0;
        .twitterIcon {
            width: 15%;
            padding: 0;
        }
        
        .facebookIcon {
            width: 15%;
            padding: 0;
        }
        
        .instagramIcon {
            width: 15%;
            padding: 0;
        }
    }
}




/* mediaquery tablet */

@media only screen and (max-width:600px) {
    .contenedor {
        height: 80;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        grid-template-areas: "header header"
            "main main"
            "footer footer";

    }

    .logoHonguito {
        width: 40%;
        padding: 0.5rem;
    }

    .section1 {
        display: block;
        .foto1 {
            width: 100%;
            padding: 1rem;
        }
        .foto2 {
            width: 100%;
            padding: 1rem;
        }
        h3 {
            margin: 1rem;
        }
    }

    /*ceramicas*/
    .contenedorProductos {
        text-align: center;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
        
    /* sobre mi */
    
    .divSobreMi {
        display: block;
        text-align: center;
        .foto9 {
            text-align: center;
            margin: 0;
            width: 60%;
        }        
        .pSobreMi {
            padding: 1rem;
            margin: 1rem;
        }
    }


    @media only screen and (max-width:360px) {
    
        .contenedor {
            height: 80;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
    
            grid-template-areas: "header header"
                "main main"
                "footer footer";
    
        }
    
        .logoHonguito {
            width: 40%;
            padding: 0rem;
        }
    
        nav {
            font-size: 6 0%;
        }
    
        .divFooter {
            display: flex;
            justify-content: space-around;
        }
        
        /* sobre mi */
    
        .mainSobreMi {
            margin: 0;
        }    
    }
}








